.inputOutsideWrapper{
    width:100%;
    display:flex;
    justify-content: center;
    .inputinsideWrapper{
        display:flex;
        height:40px;
        width:800px;
        .addChoiceText{
            flex-grow: 5;
            font-size: 1.5em;
            border-top-left-radius: 10px;
            padding:10px;
        }
        .addChoiceButton{
            flex-grow:1;
            font-size: 1.5em;
            border-left-width: 0px;
            border-bottom-width: 0xp;
            border-top-right-radius: 10px;
        }
    }
}